<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="info">
          <div class="section_title_container">
            <div class="section_subtitle">take a look at our</div>
            <div class="section_title">Contact info</div>
          </div>
          <div class="info_title">Head Office</div>
          <ul>
            <li>Address: 1481 Creekside Lane Avila Beach, CA 93424</li>
            <li>Phone: +53 345 7953 32453</li>
            <li>Email: yourmail@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 contact_form_col">
        <div class="section_title_container">
          <div class="section_subtitle">Survey</div>
          <div class="section_title">Please help us answer few question here</div>
        </div>
        <div class="contact_form_container">
          <%= form_tag survey_index_path, class: "contact_form" do %>
            <div class="row">
              <div class="col-md-6">
                <%= text_field_tag "feedback[full_name]", nil, class: "input_item", placeholder: "Your full name", required: true %>
              </div>
              <div class="col-md-6">
                <%= text_field_tag "feedback[phone_number]", nil, class: "input_item", placeholder: "Your phone number", required: true, type: "number" %>
              </div>
              <div class="col-md-12">
                <%= select("feedback", "product_id", @products.pluck(:name, :id) , {include_blank: 'Please select one' }, { required: true, class: 'dropdown_item input_item' }) %>
              </div>
              <% @questions.each do |question| %>
                <div class="col-md-12">
                  <%= text_field_tag "feedback[answers[]answer]", nil, class: "input_item", placeholder: question.question, required: true %>
                  <%= hidden_field_tag "feedback[answers[]question_id]", question.id %>
                </div>
              <% end %>
              <div class="col-md-12">
                <button id="contact_btn" type="submit" class="contact_button trans_200" value="Submit">submit</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
