<%= stylesheet_link_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'contact_responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'news', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'news_responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="super_container">
  
  <!-- Home -->

  <div class="home">
    <%= render 'layouts/banner', title: "Survey" %>
    <!-- Header -->

    <%= render 'layouts/header' %>
  </div>
  
  <!-- News -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= render 'form' %>

  <!-- Footer -->
  <%= render 'layouts/footer'%>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/jquery.ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<%= javascript_include_tag 'contact_custom', 'data-turbolinks-track': 'reload' %>
