<div class="site"> 
  <%= render 'layouts/header' %>

  <div class="site-content">
    <div class="section-cmn section-breadcrumb">
      <div class="max-width">
        <div class="title">Cuộc sống tươi đẹp</div>
        <ol class="list">
          <li><%= link_to 'Trang chủ', root_path %></li>
          <li>Hỏi đáp</li>
        </ol>
      </div>
    </div><!-- end .section-breadcrumb -->

    <div class="section-main-content">
      <div class="max-width">
        <%= render 'layouts/side_bar' %>
        <div class="content">
          <div class="faq">
            <% @faqs.each do |faq| %>
              <button class="accordion"><%= faq.question %></button>
              <div class="panel">
                <p><%= sanitize faq.answer %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- end .section-main-content -->
  </div><!-- end .site-content -->
</div><!-- end #site -->
