<%= bootstrap_form_for  @product_faq, url: admin_faqs_path(@product_faq) do |form| %>
  <% if @product_faq.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@product_faq.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @product_faq.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :question %>
  <%= form.cktext_area :answer, ckeditor: { language: 'en'} %>
  <%= form.submit %>
<% end %>