<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">FAQ
      <div class="float-right">
        <%= link_to new_admin_faq_path do%>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Question</th>
            <th>Created at</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @product_faqs.each do |faq| %>
            <tr>
              <td><%= faq.id %></td>
              <td><%= faq.question %></td>
              <td><%= faq.created_at.strftime('%b %d, %Y')  %></td>
              <td>
                <%= link_to "Edit", edit_admin_faq_path(faq), class: "btn btn-info" %>
                <%= link_to 'Destroy', admin_faq_path(faq), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>
