<%= bootstrap_form_for(user) do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :email %>
  <%= form.password_field :password unless user.id%>
  <%= form.select :role, options_from_collection_for_select(User::ROLES, :first, :last, user.role) %>
  <%= form.submit %>
<% end %>
<% if user.id %>
<hr />
<%= bootstrap_form_for(user) do |form| %>
  <%= form.password_field :password %>
  <%= form.submit "Change password" %>
<% end
end%>
