<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">Users
      <div class="float-right">
        <%= link_to new_user_path do%>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.email, edit_user_path(user) %></td>
              <td><%= User::ROLES[user.role] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>

