<div class="card">
  <!-- Default panel contents -->
  <div class="card-header">
    <%= link_to users_path do%>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <% end %>
    New User
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
</div>
