<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>From Locale:</strong>
  <%= @user.from_locale %>
</p>

<p>
  <strong>To Locale:</strong>
  <%= @user.to_locale %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
