<h3><%= "Notification" %></h3>
<div>
    <table>
      <tr>
        <td><strong><%= "From customer: " %></strong></td>
        <td><%= @feedback.customer %></td>
      </tr>
      <tr>
        <td><strong><%= "Submit at: " %></strong></td>
        <td><%= @feedback.created_at.strftime('%b %d, %Y') %></td>
      </tr>
    </table>
</div>