<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">Feedback
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Feedback from</th>
            <th>Is readed</th>
            <th>Created at</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @feedbacks.each do |feedback| %>
            <tr>
              <td><%= feedback.id %></td>
              <td><%= feedback.customer %></td>
              <td><%= feedback.created_at.strftime('%b %d, %Y')  %></td>
              <td>
                <% if feedback.is_checked? %>
                  <span class="badge badge-success">Checked</span>
                <% else %>
                  <span class="badge badge-danger">Uncheck</span>
                <% end %>
              </td>              
              <td><%= link_to "Detail", admin_feedback_path(feedback), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>
