<!-- <div class="container">
</div> -->
<div class="card">
  <!-- Default panel contents -->
  <div class="card-header">
    Feedback detail
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Customer name:</dt>
      <dd class="col-sm-9"><%= @feedback.customer %></dd>
      <dt class="col-sm-3">Phone number:</dt>
      <dd class="col-sm-9"><%= @feedback.phone_number %></dd>
      <dt class="col-sm-3">Gender:</dt>
      <dd class="col-sm-9"><%= @feedback.gender %></dd>
      <dt class="col-sm-3">Birthday:</dt>
      <dd class="col-sm-9"><%= @feedback.birthday.strftime('%b %d, %Y') %></dd>
      <dt class="col-sm-3">Product:</dt>
      <dd class="col-sm-9"><%= @feedback.product.blank? ? "None" : @feedback.product.name %></dd>
      <dt class="col-sm-3">Answer:</dt>
      <dd class="col-sm-9">
        <% @feedback.answers.each do |answer| %>
          <dl class="row">
            <dt class="col-sm-4"><%= answer.question.question %></dt>
            <dd class="col-sm-8"><%= answer.answer %></dd>
          </dl>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
