<div class="max-width">
  <h3 class="title"><span>Sản phẩm bảo hiểm</span></h3>
  <ul class="list">
    <% @products.each do |product| %>
      <li>
        <p class="img"><%= image_tag(product.thumbnail, alt: 'Image') if product.thumbnail? %></p>
        <p class="name"><%= product.name %></p>
        <p class="desc"><%= strip_tags product.description %></p>
        <p class="view"><%= link_to "Xem thêm >>", category_path(product) %></p>
      </li>
    <% end %>
  </ul>
</div>