<div class="max-width">
  <h3 class="title"><span>Tại sao bạn nên mua bảo hiểm từ hôm nay</span></h3>
  <div class="section-03-content">
    <p>Bạn đang là trụ cột của gia đình và có trách nhiệm đảm bảo cho người thân, người phụ thuộc vào bạn. Vậy nếu bạn bất ngờ mất đi khả năng kiếm tiền hoặc sa cơ lỡ vận thì đâu là giải pháp để bạn làm tròn trách nhiệm của mình. Cách duy nhất để giúp bạn và gia đình trong trường hợp rủi ro ấy là mua bảo hiểm từ trước.</p>
    <ul class="list">
      <li>
        <p><strong>Bảo hiểm không mất tiền mua</strong></p>
        <p>Toàn bộ số tiền bảo hiểm bạn đã đóng góp sẽ được trả về cho bạn, bạn còn có thể nhận thêm bảo tức và lãi chia tích lũy.</p>
      </li>
      <li>
        <p><strong>Bảo hiểm không lo trượt giá</strong></p>
        <p>Toàn bộ số tiền bảo hiểm bạn đã đóng góp sẽ được trả về cho bạn, bạn còn có thể nhận thêm bảo tức và lãi chia tích lũy.</p>
      </li>
      <li>
        <p><strong>Bảo hiểm đảm bảo rủi ro cho công việc kinh doanh và đầu tư</strong></p>
        <p>Toàn bộ số tiền bảo hiểm bạn đã đóng góp sẽ được trả về cho bạn, bạn còn có thể nhận thêm bảo tức và lãi chia tích lũy.</p>
      </li>
      <li>
        <p><strong>Bảo hiểm giúp bạn tiết kiệm một cách có kỷ luật</strong></p>
        <p>Toàn bộ số tiền bảo hiểm bạn đã đóng góp sẽ được trả về cho bạn, bạn còn có thể nhận thêm bảo tức và lãi chia tích lũy.</p>
      </li>
    </ul>
  </div>
</div>