<div class="max-width">
  <ul class="list">
    <li>
      <p class="num">25</p>
      <p>Năm kinh nghiệm</p>
    </li>
    <li>
      <p class="num">47</p>
      <p>Triệu khách hàng tin tưởng</p>
    </li>
    <li>
      <p class="num">82</p>
      <p>Giải thưởng giành được</p>
    </li>
  </ul>
</div>