<div class="max-width">
  <h3 class="title"><span>BẠN ĐANG CÓ THẮC MẮC VỀ CÁC GÓI BẢO HIỂM HOẶC CÁC VẤN ĐỀ LIÊN QUAN ĐẾN BẢO HIỂM</span></h3>
  <div class="section-02-content">
    <div class="txt">
      <h4 class="sub-title">Làm sao để đóng phí bảo hiểm?</h4>
      <p>Các phương thức thanh toán phí bảo hiểm hiện đang có là: thanh toán trực tuyến, thanh toán phí bảo hiểm qua các ngân hàng liên kết, thanh toán qua hệ thống bưu điện...</p>
      <p><a href="#" class="btn-view">Tìm hiểu thêm</a></p>
    </div>
    <div class="img"><img src="assets/img-04.jpg" alt=""></div>
  </div>
</div>