<body>
  <div class="site">
    <%= render 'layouts/header' %>
    
    <div class="site-content">
      <%= render 'layouts/banner' %>

      <div class="section-cmn section-01">
        <%= render 'section_1' %>
      </div><!-- end .section-01 -->
      
      <div class="section-cmn section-02">
        <%= render 'section_2' %>
      </div><!-- end .section-02 -->
      
      <div class="section-cmn section-03">
        <%= render 'section_3' %>
      </div><!-- end .section-03 -->
      
<!--       <div class="section-cmn section-04">
        <%= render 'section_4' %>
      </div> -->
      
    </div><!-- end .site-content -->
    
    <%= render 'layouts/footer' %>

  </div><!-- end #site -->
</body>

