<%= bootstrap_form_for [:admin, @post] do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :title %>
  <%= form.text_field :thumbnail_url %>
  <%= form.cktext_area :body, ckeditor: { language: 'en'} %>
  <%= form.submit %>
<% end %>