<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">Posts
      <div class="float-right">
        <%= link_to new_admin_post_path do%>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Created at</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.id %></td>
              <td><%= post.title %></td>
              <td><%= post.created_at.strftime('%b %d, %Y')  %></td>
              <td>
                <%= link_to "READ MORE", admin_post_path(post), class: "btn btn-primary" %>
                <%= link_to "Edit", edit_admin_post_path(post), class: "btn btn-info" %>
                <%= link_to 'Destroy', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>
