<%= bootstrap_form_for [:admin, @question] do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@question.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :question %>
  <%= form.submit %>
<% end %>