<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">Question
      <div class="float-right">
        <%= link_to new_admin_question_path do%>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Question</th>
            <th>Created at</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.id %></td>
              <td><%= question.question %></td>
              <td><%= question.created_at.strftime('%b %d, %Y')  %></td>
              <td>
                <%= link_to "Edit", edit_admin_question_path(question), class: "btn btn-primary" %>
                <%= link_to 'Destroy', admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>
