<div id="sign_in__container">
  <h2>Sign in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "sign_in__form", class: "col-sm-4"}) do |f|  %>
    <div class="form-group row">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group row">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="form-group row">
      <%= f.submit "Sign in", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
