<%= bootstrap_form_for [:admin, @product] do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@product.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name %>
  <div class="card">
    <div class="card-header">Product Content</div>
    <div class="card-body">
      <div class="form-group">
        <label for="product_banner_image">Description</label>
        <%= form.cktext_area :description, ckeditor: { language: 'en'} %>
      </div>
      <div class="form-group">
        <label for="meta_desc">Meta tag description</label>
        <div class="form-control html_input" id="meta_desc"></div>
        <textarea name="product[meta_desc]" id='textarea_meta_desc' style="display: none;"><%= @product.meta_desc.to_s %></textarea>
      </div>
      <div class="form-group">
        <%= image_tag(@product.thumbnail, alt: 'Image', class: "product_thumbnail") if @product.thumbnail? %>
        <%= form.file_field :thumbnail %>
      </div>
    </div>
  </div>
  <% if params[:id] %>
    <%= hidden_field_tag "product[parent_id]", params[:id] %>
  <% end %>
  <%= form.submit %>
<% end %>