<%= bootstrap_form_for [:admin, @product] do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@product.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name %>
  <div class="card">
    <div class="card-header">Product Content</div>
    <div class="card-body">
      <div class="form-group">
        <%= form.text_field :title %>
      </div>
      <div class="form-group">
        <label for="title_tag">Title tag</label>
        <div class="form-control html_input" id="title_tag"></div>
        <%= form.text_field :title_tag %>
      </div>
      <div class="form-group">
        <label for="product_first_benefit">Description</label>
        <%= form.cktext_area :description, ckeditor: { language: 'en'} %>
      </div>
      <div class="form-group">
        <%= image_tag(@product.thumbnail, alt: 'Image', class: "product_thumbnail") if @product.thumbnail? %>
        <%= form.file_field :thumbnail %>
      </div>
      <div class="form-group">
        <label for="meta_desc">Meta description tag</label>
        <div class="form-control html_input" id="meta_desc"></div>
        <%= form.text_field :meta_desc %>
      </div>
      <div class="form-group">
        <label for="meta_robot">Meta robot tag</label>
        <div class="form-control html_input" id="meta_robot"></div>
        <%= form.text_field :meta_robot %>
      </div>
      <div class="form-group">
        <label for="meta_keys">Meta keys tag</label>
        <div class="form-control html_input" id="meta_keys"></div>
        <%= form.text_field :meta_keys %>
      </div>
      <div class="form-group">
        <label for="h1_tag">H1 tag</label>
        <div class="form-control html_input" id="h1_tag"></div>
        <%= form.text_field :h1_tag %>
      </div>
      <div class="form-group">
        <%= form.text_field :sec_1_title, label: "Section 1 title" %>
      </div>
      <div class="form-group">
        <label for="product_third_benefit_slogan">Section 1 content</label>
        <%= form.cktext_area :sec_1_content, ckeditor: { language: 'en'} %>
      </div>
      <div class="form-group">
        <%= form.text_field :sec_2_title, label: "Section 2 title" %>
      </div>
      <div class="form-group">
        <label for="product_third_benefit_slogan">Section 2 content</label>
        <%= form.cktext_area :sec_2_content, ckeditor: { language: 'en'} %>

      </div>
      <div class="form-group">
        <%= form.text_field :sec_3_title, label: "Section 3 title" %>
      </div>
      <div class="form-group">
        <label for="product_third_benefit_slogan">Section 3 content</label>
        <%= form.cktext_area :sec_3_content, ckeditor: { language: 'en'} %>

      </div>
    </div>
  </div>
  <% if params[:id].present? %>
    <%= hidden_field_tag "product[parent_id]", params[:id] %>
  <% end %>
  <%= form.submit %>
<% end %>