<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">Products
      <div class="float-right">
        <%= link_to new_admin_product_path do%>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Action</th>
            <th>Child product</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.created_at.strftime('%b %d, %Y')  %></td>
              <td>
                <%= link_to "", product_path(product), class: "btn btn-primary glyphicon glyphicon-info-sign" %>
                <%= link_to "", edit_admin_product_path(product), class: "btn btn-info glyphicon glyphicon-edit" %>
                <%= link_to "", admin_new_child_product_path(product), class: "btn btn-info glyphicon glyphicon-plus", alt: "Add sub product" %>
                <%= link_to "", admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-minus" %>
              </td>
              <td>
                <% if product.products %>
                  <ul class="list-group list-group-flush">
                    <% product.products.each do |child_product| %>
                      <li class="list-group-item">
                        <%= child_product.name %>
                        <%= link_to "", admin_product_path(child_product), class: "btn btn-primary btn btn-primary glyphicon glyphicon-info-sign" %>
                        <%= link_to "", edit_admin_product_path(child_product), class: "btn btn-info glyphicon glyphicon-edit" %>
                        <%= link_to "", admin_product_path(child_product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-minus" %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>
