  <div class="news">
    <div class="container">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-lg-4 news_col">
            <div class="news_post">
              <div class="news_image">
                <%= image_tag(post.thumbnail_url.blank? ? "news_post_2.jpg" : post.thumbnail_url) %>
              </div>
              <div class="news_date d-flex flex-column align-items-center justify-content-center">
                <div class="news_month"><%= post.created_at.strftime("%B") %></div>
                <div class="news_day"><%= post.created_at.strftime("%d") %></div>
              </div>
              <div class="news_content">
                <div class="news_title"><%= post.title %></div>
                <div class="news_text">
                  <p><%= sanitize post.body.truncate_words(5) %></p>
                </div>
              </div>
              <div class="news_button">
                <%= link_to "Read more", blog_path(post.id) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col">
          <div class="page_nums">
            <%= will_paginate @posts, previous_label: "«", next_label: "»" %>
          </div>
        </div>
      </div>
    </div>
  </div>