<%= stylesheet_link_tag 'news', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'news_responsive', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="super_container">
  
  <!-- Home -->

  <div class="home">
    <%= render 'layouts/banner' %>
    <!-- Header -->

    <%= render 'layouts/header' %>
  </div>
  
  <!-- News -->
  <div class="news">
    <div class="container">
      <%= image_tag @post.thumbnail_url.to_s %>
      <h2 class="h2"><%= @post.title %></h2> 
      <%= raw @post.body %>
    </div>    
  </div>

  <!-- Footer -->
<%= render 'layouts/footer'%>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/2.0.0/parallax.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/jquery.ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
<%= javascript_include_tag 'news_custom', 'data-turbolinks-track': 'reload' %>