/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';
@import 'glyphicons';
@import 'rails_bootstrap_forms';
@import 'products';
@import 'froala_editor.min';
@import 'froala_style.min';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'notification';
 * {
  font-family: "Roboto", sans-serif;
 }

 body {
     padding-bottom: 30px;
 }

 a:hover, a:focus{
   background-color: rgba(0, 0, 0, 0);
   color: #177eda;
 }
a.btn:visited {
  color: #fff;
}

 /* translate rails flash key to bootstrap alert style */
 .alert-alert { /*danger*/
     background-color: #f2dede;
     border-color: #ebccd1;
     color: #a94442;
 }
 .alert-notice { /*success*/
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

/* comment */
.commentList{
  list-style:none;
  max-height: 200px;
  overflow-y: auto;
}
.commentList li {
  margin:0;
  margin-top:20px;
}
.commenterName{font-weight: bold;}
.sub-text {
  color:#aaa;
  font-weight: normal;
  font-size:11px;
  float:right;
}
.commentBox .form-group * {
  width:100%;
}
.commentBox .form-group.main {
  width:80%;margin-left:5%;
}
.commentBox .form-group.sub {
  width:12%;
}

.navbar {
  font-weight: bold;
}

.info__metadata {
  font-size: 12px;
  color: #444;
  font-style: italic;
}

#sign_in__container {
  position: relative;

  h2 {
    text-align: center;
    font-weight: 100px;
  }

  #sign_in__form {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    input[type='submit'].btn {
      width: 100%;
    }
  }
}