.survey_label {
    font-family: 'vni-gill', sans-serif;
    font-size: 24px;
    color: #212121;
    margin-top: -2px;
}
.survey_label_no_vni_font {
    font-family: 'gill', sans-serif;
    font-size: 24px;
    color: #212121;
    margin-top: -2px;
} 