/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Forms
 * 5.0 - Clearings
 * 6.0 - Links
 * 7.0 - Content
 *    7.1 - Header
 *    7.2 - Footer
 *    7.3 - Content
 * 8.0 - Media Queries
 *    8.1 - >= 768px
 *    8.2 - >= 1024px
 * 9.0 - Print
 */


/**
 * 1.0 - Normalize
 */

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

/**
 * 2.0 - Typography
 */

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	font-family: 'Roboto', san-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	overflow: hidden;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/**
 * 3.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #686868;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

:-moz-placeholder {
	color: #686868;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

::-moz-placeholder {
	color: #686868;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #686868;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
}


/**
 * 4.0 - Forms
 */

input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #fcb040;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #e5931a;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: #fff;
	border-color: #007acc;
	color: #1a1a1a;
	outline: 0;
}

/**
 * 5.0 - Clearings
 */

.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after {
	content: "";
	display: table;
}

.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after {
	clear: both;
}

/**
 * 6.0 - Links
 */

a {
	color: #288177;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #288177;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/**
 * 7.0 - Content
 */

.site {
	background-color: #fff;
}

.max-width {
	margin: 0 auto;
	max-width: 980px;
	position: relative;
	width: 92%;
}

.site-header {
	border-bottom: 3px solid #288177;
}

.site-header .max-width {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.site-header .site-logo {
	padding: 15px 0;
}

.site-header .btn-toggle-menu {
	background: #288177;
}

.site-header .btn-toggle-menu:hover {
	background: #0c5950;
}

.site-header .nav {
	display: none;
}

.site-banner {
	background: url(bg-banner.jpg) no-repeat 50% 0;
	background-size: contain;
	padding: 15px 0;
}

.site-banner .max-width {
	display: flex;
	justify-content: center;
}

.frm-register {
	background: #203a4e;
	border-radius: 5px;
	color: #fff;
	padding: 30px 15px 15px;
	width: 330px;
}

.frm-register .title {
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

.frm-register .field-input {
	margin-bottom: 13px;
}

.frm-register .input-txt {
	border: 1px solid #fff;
	border-radius: 5px;
}

.frm-register .lbl {
	margin-left: 20px;
}

.frm-register .input-select {
	border: 1px solid #fff;
	border-radius: 5px;
	line-height: normal;
	padding: 0.625em 0.4375em;
	width: 100%;
}

.frm-register .input-submit {
	border-radius: 5px;
	display: block;
	font-size: 20px;
	margin: 25px auto 0;
}

.section-cmn {
	padding: 30px 0;
}

.section-cmn .title {
	font-size: 25px;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}

.section-cmn .title span {
	display: inline-block;
	position: relative;
}

.section-cmn .title span:before {
	content: '';
	bottom: -5px;
	left: 50%;
	position: absolute;
	height: 2px;
	transform: translate(-50%);
	width: 65%;
	max-width: 370px;
}

.section-01 .title {
	color: #288177;
}

.section-01 .title span:before {
	background: #288177;
}

.section-01 .list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	margin: 0;
}

.section-01 .list li {
	margin-bottom: 30px;
}

.section-01 .list p {
	margin-bottom: 0;
	text-align: justify;
}

.section-01 .list .img {
	margin-bottom: 30px;
	text-align: center;
}

.section-01 .list .name {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.section-02 {
	background: #f6f6f6;
}

.section-02 .title span:before {
	background: #333;
}

.section-02-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section-02-content .txt {
	order: 2;
}

.section-02-content .txt p {
	margin-bottom: 10px;
}

.section-02-content .txt .sub-title {
	font-size: 20px;
	font-weight: bold;
}

.section-02-content .img {
	margin-bottom: 20px;
	order: 1;
}

.section-02-content .btn-view {
	background: #288177;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	padding: 0.5em 2.5em;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
}

.section-02-content .btn-view:hover {
	background: #0c5950;
}

.section-03 .title {
	color: #288177;
}

.section-03 .title span:before {
	background: #288177;
}

.section-03 .list {
	list-style: none;
	margin: 0;
}

.section-03 .list li {
	margin-bottom: 15px;
}

.section-03 .list p {
	margin-bottom: 0;
}

.section-04 {
	background: url(bg-section-04.png) no-repeat 50% 0;
	background-size: cover;
	color: #fff;
	font-size: 24px;
}

.section-04 .list {
	list-style: none;
	margin: 0;
	text-align: center;
	line-height: normal;
}

.section-04 .list p {
	margin-bottom: 0;
}

.section-04 .list .num {
	font-size: 100px;
}

.section-05 .title {
	color: #288177;
}

.section-05 .title span:before {
	background: #288177;
}

.site-footer {
	background: url(bg-footer.png) no-repeat 50% 0;
	padding: 30px 0;
}

.site-footer .go-form {
	background: #288177;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	padding: 0.5em 1.3em;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
}

.site-footer .go-form:hover {
	background: #0c5950;
}

.site-footer .section-fb {
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	max-width: 100%;
	width: 500px;
}

.section-breadcrumb {
	background: url(bg-breadcrumb.jpg) repeat 50% 0;
	padding: 5rem 0;
}

.section-breadcrumb .title {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}

.section-breadcrumb .list {
	list-style: none;
	text-align: center;
	margin: 0;
}

.section-breadcrumb .list li {
	display: inline-block;
	color: #1a1a1a;
	position: relative;
	padding: 0 11px;
}

.section-breadcrumb .list li:before {
	content: "";
    position: absolute;
    left: -3px;
    top: 50%;
    margin-top: -2px;
    font-size: 1.6rem;
    width: 5px;
    height: 5px;
    background: #666;
    line-height: 1.6rem;
    transform: rotate(45deg);
}

.section-breadcrumb .list li:first-child:before {
	display: none;
}

.section-breadcrumb .list li a {
	color: #1a1a1a;
}

.section-main-content {
	margin-top: 20px;
}

.section-main-content .max-width {
	display: flex;
	justify-content: space-between;
}

.section-main-content .sidebar {
	width: 250px;
	margin-bottom: 20px;
}

.section-main-content .sidebar .box {
	border: 1px solid #288177;
	margin-bottom: 20px;
}

.section-main-content .sidebar .box-cat .title {
	background: #288177;
	color: #fff;
	text-align: center;
	padding: 5px 0;
}

.section-main-content .sidebar .box-cat .list {
	list-style: none;
	padding: 10px 0 10px 20px;
	margin: 0;
}

.section-main-content .sidebar .box-cat .list li {
	position: relative;
	padding-left: 11px;
}

.section-main-content .sidebar .box-cat .list li:before {
	content: "";
    position: absolute;
    left: -3px;
    top: 50%;
    margin-top: -2px;
    font-size: 1.6rem;
    width: 5px;
    height: 5px;
    background: #666;
    line-height: 1.6rem;
    transform: rotate(45deg);
}

.section-main-content .sidebar .box-cat .list li a {
	color: #909090;	
}

.section-main-content .sidebar .box-cat-submenu .list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.section-main-content .sidebar .box-cat-submenu a {
	display: block;
	color: #1a1a1a;
	padding: 10px;
	border-bottom: 1px solid #909090;
}

.section-main-content .sidebar .box-cat-submenu li:last-child a {
	border-bottom: 0;
}

.section-main-content .sidebar .box-cat-submenu a:hover,
.section-main-content .sidebar .box-cat-submenu a.active {
	background: #288177;
	color: #fff;
	border-bottom: 1px solid #288177;
}

.section-main-content .sidebar .frm-register {
	background: #288177;
	width: 100%;
}

.section-main-content .content {
	width: calc(100% - 270px);
	margin-bottom: 20px;
}

.section-main-content .content .post .title {
	color: #288177;
	font-size: 1.5rem;
}

.list-category {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.list-category li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.list-category .cat-img {
	width: 30%;
	border: 1px solid #909090;
}

.list-category .cat-desc {
	width: 65%;
}

.list-category .cat-desc .title {
	color: #288177;
	font-size: 1.5rem;
}

.faq .accordion {
    border: 1px solid #288177;
    background: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 5px;
    color: #101010;
}

.faq .active, .faq .accordion:hover {
    background: #288177;
    color: #fff;
}

.faq .accordion:after {
    content: '\002B';
    color: #101010;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.faq .active:after, .faq .accordion:hover:after {
	color: #fff;
}

.faq .active:after {
    content: "\2212";
}

.faq .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 576px) {
	.section-breadcrumb {
		padding: 3rem 0;
	}

	.list-category li {
		flex-direction: column;
	}

	.list-category .cat-img {
		width: 100%;
	}

	.list-category .cat-desc {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.site-header .nav {
		position: absolute;
		min-width: 200px;
		right: 0;
		background: #fff;
		z-index: 9999;
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 10px;
	}
	
	.site-header .nav ul {
		list-style: none;
		margin: 0;
	}
	
	.site-header .nav ul li ul li {
		margin-left: 10px;
	}

	.section-main-content .max-width {
		flex-direction: column;
	}

	.section-main-content .sidebar {
		width: 100%;
		order: 1;
	}

	.section-main-content .content {
		width: 100%;
	}
}

@media screen and (min-width: 640px) {
	.site-footer .max-width {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	.site-footer .section-fb {
		max-width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.site-header .max-width {
		align-items: flex-end;
	}
	
	.site-header .btn-toggle-menu {
		display: none;
	}
	
	.site-header .nav {
		display: block;
	}
	
	.nav {
		margin: 0 auto;
		max-width: 800px;
		background: #fff;
	}

	.nav::after {
		display: block;
		content: '';
		clear: both;
	}

	.nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.nav ul li {
		float: left;
		position: relative;
	}

	.nav ul li a {
		display: block;
		color: #288177;
		text-decoration: none;
		padding: 2.4rem 2rem;
		border-top: 2px solid transparent;
		border-bottom: 6px solid transparent;
		transition: all .3s ease-in-out;
	}

	.nav ul li a:hover,
	.nav ul li a:focus {
		/*background: rgba(0, 0, 0, .15);*/
	}
	
	.nav ul li.active a {
		border-bottom: 6px solid #fcb040;
	}

	.nav ul li a:focus {
		color: white;
	}

	.nav ul li a:not(:only-child)::after {
		padding-left: 4px;
		content: ' ▾';
	}

	.nav ul li ul li {
		min-width: 190px;
	}

	.nav ul li ul li a {
		background: transparent;
		color: #555;
		border-bottom: 1px solid #DDE0E7;
		padding: 1rem 2rem;
	}

	.nav ul li ul li a:hover,
	.nav ul li ul li a:focus {
		background: #eee;
		color: #111;
		border-bottom: 1px solid #DDE0E7;
	}
	
	.nav .dropdown {
		display: none;
		position: absolute;
		background: #fff;
		box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
		z-index: 999;
	}
	
	.site-banner {
		background-size: cover;
		padding: 0;
	}
	
	.site-banner .max-width {
		align-items: center;
		height: 500px;
		justify-content: flex-end;
	}
	
	.site-banner .frm-register {
		margin-top: 0;
	}
	
	.section-cmn .title {
		font-size: 30px;
	}
	
	.section-01 .list .name {
		font-size: 24px;
	}
	
	.section-01 .list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.section-01 .list li {
		width: 45%;
	}
	
	.section-02-content {
		flex-direction: row;
		align-items: center;
	}
	
	.section-02-content .txt {
		order: 1;
		width: 45%;
	}
	
	.section-02-content .img {
		order: 2;
		margin-bottom: 0;
		width: 45%;
	}
	
	.section-02-content .txt .sub-title {
		font-size: 24px;
	}
	
	.section-03 .list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: justify;
	}

	.section-03 .list li {
		width: 45%;
	}
	
	.section-04 .list {
		display: flex;
		justify-content: space-between;
		height: 409px;
		align-items: center;
	}

}

@media screen and (min-width: 980px) {
	.section-01 .list li {
		width: 30%;
	}
}

@media screen and (min-width: 1024px) {
	.site-banner .max-width {
		height: 750px;
	}	
}

@media screen and (min-width: 1480px) {
	.section-03 {
		background: url(bg-section-03.png) no-repeat 10% 100%;
	}

	.section-03 .max-width {
		padding-left: 10%;
	}
}

