
<div class="events-lp-default fwd">
<div id="tiki-fwd">
   <div data-reactroot="">
      <div class="banner" style="cursor: pointer;"><%= image_tag @product.product_content.banner_image, style: "width: 100%;" %></div>
      <div class="block-benerfit">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h2 class="text-center text-organe">“<%= @product.product_content.slogan %>”</h2>
               </div>
            </div>
            <div class="row">
              <div class="col text-center item">
                 <%= image_tag @product.product_content.first_benefit %><br>
                 <span class="lable">
                    <%= @product.product_content.first_benefit_slogan %>
                 </span>
              </div>
              <div class="col text-center item">
                 <%= image_tag @product.product_content.second_benefit %><br>
                 <span class="lable">
                    <%= @product.product_content.second_benefit_slogan %>
                 </span>
              </div>
              <div class="col text-center item">
                 <%= image_tag @product.product_content.third_benefit %><br>
                 <span class="lable">
                    <%= @product.product_content.third_benefit_slogan %>
                 </span>
              </div>
            </div>
            <div class="row">
               <% @product.product_faqs.each do |faq| %>
                  <div class="col-md-6">
                     <h5 class="table-menu">
                      <div class="row-menu title" data-toggle="collapse" data-target="#collapse_<%= faq.id %>" aria-expanded="true" aria-controls="collapse_<%= faq.id %>">
                         <span class="icon"></span><%= faq.question %>
                      </div>
                     </h5>
                     <div id="collapse_<%= faq.id %>" class="collapse">
                       <section class="slidergroup height-transition height-transition-show">
                         <article>
                           <%= faq.answer %>
                         </article>
                       </section>
                     </div>
                  </div>
               <% end %>
            </div>
         </div>
         <picture>
            <source media="(min-width: 768px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-1.png">
            <source media="(min-width: 320px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-1.png">
            <img src="https://vcdn.tikicdn.com/lp/fwd/img/bg-1.png" alt="" style="width: 100%;">
         </picture>
      </div>
      <%= render 'survey_form' %>
   </div>
</div>
     
    
    
     
     
    <script>
        var order_holded = '0';  
    </script>

    <script>
        var upload_reminder = '0';  
    </script>
    


</div>         





        

    
    

