<div class="block-personal form1">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 class="text-center text-organe">
               <!-- react-text: 127 -->Nhập thông tin để xem<!-- /react-text --><br><!-- react-text: 129 --> quyền lợi và phí bảo hiểm của tôi<!-- /react-text -->
            </h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group date-out">
                <%= form_tag survey_index_path, class: "contact_form" do %>
                  <table>
                     <tbody>
                        <tr>
                           <td><label class="control-label">Ngày sinh</label></td>
                           <td class="col-date">
                              <div>
                                 <%= date_select :birthday, order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100, class: "birthday-picker" %>

                                 <fieldset class="birthday-picker">

                                    <select class="birth-day form-control" name="birth[day]">
                                       <option value="0" class="default">Chọn Ngày</option>
                                       <option value="1">1</option>
                                       <option value="2">2</option>
                                       <option value="3">3</option>
                                       <option value="4">4</option>
                                       <option value="5">5</option>
                                       <option value="6">6</option>
                                       <option value="7">7</option>
                                       <option value="8">8</option>
                                       <option value="9">9</option>
                                       <option value="10">10</option>
                                       <option value="11">11</option>
                                       <option value="12">12</option>
                                       <option value="13">13</option>
                                       <option value="14">14</option>
                                       <option value="15">15</option>
                                       <option value="16">16</option>
                                       <option value="17">17</option>
                                       <option value="18">18</option>
                                       <option value="19">19</option>
                                       <option value="20">20</option>
                                       <option value="21">21</option>
                                       <option value="22">22</option>
                                       <option value="23">23</option>
                                       <option value="24">24</option>
                                       <option value="25">25</option>
                                       <option value="26">26</option>
                                       <option value="27">27</option>
                                       <option value="28">28</option>
                                       <option value="29">29</option>
                                       <option value="30">30</option>
                                       <option value="31">31</option>
                                    </select>
                                    <select class="birth-month form-control" name="birth[month]">
                                       <option value="0" class="default">Chọn Tháng</option>
                                       <option value="1">01</option>
                                       <option value="2">02</option>
                                       <option value="3">03</option>
                                       <option value="4">04</option>
                                       <option value="5">05</option>
                                       <option value="6">06</option>
                                       <option value="7">07</option>
                                       <option value="8">08</option>
                                       <option value="9">09</option>
                                       <option value="10">10</option>
                                       <option value="11">11</option>
                                       <option value="12">12</option>
                                    </select>
                                    <select class="birth-year form-control" name="birth[year]">
                                       <option value="0" class="default">Chọn Năm</option>
                                       <option value="2000">2000</option>
                                       <option value="1999">1999</option>
                                       <option value="1998">1998</option>
                                       <option value="1997">1997</option>
                                       <option value="1996">1996</option>
                                       <option value="1995">1995</option>
                                       <option value="1994">1994</option>
                                       <option value="1993">1993</option>
                                       <option value="1992">1992</option>
                                       <option value="1991">1991</option>
                                       <option value="1990">1990</option>
                                       <option value="1989">1989</option>
                                       <option value="1988">1988</option>
                                       <option value="1987">1987</option>
                                       <option value="1986">1986</option>
                                       <option value="1985">1985</option>
                                       <option value="1984">1984</option>
                                       <option value="1983">1983</option>
                                       <option value="1982">1982</option>
                                       <option value="1981">1981</option>
                                       <option value="1980">1980</option>
                                       <option value="1979">1979</option>
                                       <option value="1978">1978</option>
                                       <option value="1977">1977</option>
                                       <option value="1976">1976</option>
                                       <option value="1975">1975</option>
                                       <option value="1974">1974</option>
                                       <option value="1973">1973</option>
                                       <option value="1972">1972</option>
                                       <option value="1971">1971</option>
                                       <option value="1970">1970</option>
                                       <option value="1969">1969</option>
                                       <option value="1968">1968</option>
                                    </select>
                                    <input type="hidden" name="birthdate" id="birthdate">
                                 </fieldset>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td></td>
                           <td>
                              <p class="error birthday">Vui lòng chọn ngày sinh</p>
                           </td>
                        </tr>
                        <tr>
                           <td><label class="control-label">Giới tính</label></td>
                           <td>
                              <div class="gender">
                                 <div class=" icon">
                                    <p>Nam</p>
                                    <img src="https://vcdn.tikicdn.com/lp/fwd/img/icon-male.png">
                                 </div>
                                 <div class=" icon">
                                    <p>Nữ</p>
                                    <img src="https://vcdn.tikicdn.com/lp/fwd/img/icon-female.png">
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td></td>
                           <td>
                              <p class="error gender">Vui lòng chọn giới tính</p>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="2" style="font-size: 12px; text-align: center;">
                              <!-- react-text: 177 -->Nếu bạn không nằm trong độ tuổi 18-50 hoặc muốn mua gói bảo hiểm có giá trị lớn hơn, <!-- /react-text --><a target="_blank" href="https://www.fwd.com.vn/vi/lien-he/" style="color: rgb(254, 117, 43);">vui lòng liên hệ với chúng tôi</a>
                           </td>
                        </tr>
                        <tr>
                           <td></td>
                           <td><a href="javascript:;" class="btn-tham-gia" style="margin-top: 20px;">Xem gói bảo hiểm</a></td>
                        </tr>
                     </tbody>
                  </table>
               <% end %>
            </div>
         </div>
      </div>
      <div class="row"></div>
   </div>
   <picture>
      <source media="(min-width: 768px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-2.png?v=2">
      <source media="(min-width: 320px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-2.png?v=2">
      <img src="https://vcdn.tikicdn.com/lp/fwd/img/bg-2.png?v=2" alt="" style="width: 100%;">
   </picture>
</div>
<div class="block-choose-care form2">
   <div class="container">
      <div class="row">
         <div class="col-md-6 text-right">
            <div class="item text-center">
               <div class="lable">Gói bảo hiểm của tôi</div>
               <div class="content">
                  <span>Quyền lợi</span>
                  <h3></h3>
                  <ul>
                     <li>Được chi trả toàn bộ một lần khi phát hiện bệnh ung thư.</li>
                     <li>Khi quyền lợi được chi trả, gói bảo hiểm kết thúc.</li>
                  </ul>
                  <hr>
                  <div><span>Phí bảo hiểm</span><span class="text-note">Bạn hãy nhập ngày sinh, giới tính và gói bảo hiểm ở trên để biết phí bảo hiểm</span></div>
               </div>
            </div>
         </div>
         <div class="col-md-6 text-left">
            <div class="you-now">
               <div class="content text-center">
                  <img alt="" src="https://vcdn.tikicdn.com/lp/fwd/img/icon-light.png">
                  <p>Bạn có biết?</p>
                  <!-- react-text: 209 -->Bạn được bảo hiểm trong 5 năm với mức phí mỗi năm không đổi. Để duy trì hiệu lực gói bảo hiểm, bạn chỉ cần đóng phí hàng năm trong thời gian trên.<!-- /react-text -->
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12 text-center" style="margin-top: 40px;"><a href="javascript:;" class="btn-tham-gia">Đăng ký ngay</a></div>
      </div>
   </div>
   <picture>
      <source media="(min-width: 768px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-3.png?v=2">
      <source media="(min-width: 320px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-3.png?v=2">
      <img src="https://vcdn.tikicdn.com/lp/fwd/img/bg-3.png?v=2" alt="" style="width: 100%;">
   </picture>
</div>
<div class="block-bang-gia">
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <p class="content-download text-center"><a target="_blank" href="https://vcdn.tikicdn.com/lp/fwd/pdf/[VNFWD]_CC_Brochure_v6_op4.PDF" title="Thông tin sản phẩm">Thông tin sản phẩm</a><a target="_blank" href="/fwd/bao-hiem-ung-thu/cau-hoi-thuong-gap" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a><a target="_blank" href="https://vcdn.tikicdn.com/lp/fwd/pdf/quy-tac-dieu-khoan-(Interactive).pdf?v=1" title="Quy tắc &amp; Điều khoản">Quy tắc &amp; Điều khoản</a></p>
         </div>
      </div>
   </div>
   <picture>
      <source media="(min-width: 768px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-4.png">
      <source media="(min-width: 320px)" srcset="https://vcdn.tikicdn.com/lp/fwd/img/bg-4.png">
      <img src="https://vcdn.tikicdn.com/lp/fwd/img/bg-4.png" alt="" style="width: 100%;">
   </picture>
</div>