<div class="contact">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-9 contact_form_col">
        <div class="section_title_container">
          <div class="section_subtitle">Survey</div>
          <div class="section_title">Please help us answer few question here</div>
        </div>
        <div class="contact_form_container">
          <%= form_tag survey_index_path, class: "contact_form" do %>
            <div class="row">
              <div class="col-md-3">
                <td><label class="survey_label_no_vni_font">Họ và tên</label></td>
              </div>
              <div class="col-md-9">
                <%= text_field_tag "feedback[full_name]", nil, class: "input_item", placeholder: "Your full name", required: true %>
              </div>
              <div class="col-md-3">
                <td><label class="survey_label_no_vni_font">Ngày sinh</label></td>
              </div>
              <div class="col-md-9">
                <%= select_day(Date.today, {field_name: 'day'}, class: "dropdown_item input_item col-md-3") %>
                <%= select_month(Date.today, {field_name: 'month'}, class: "dropdown_item input_item col-md-3") %>
                <%= select_year(Date.today, {field_name: 'year'}, class: "dropdown_item input_item col-md-3") %>
              </div>
              <div class="col-md-3">
                <td><label class="survey_label_no_vni_font">Giới tính</label></td>
              </div>
              <div class="col-md-9">
                <%= select("feedback", "gender", GENDER_ARRAY , {include_blank: 'Please select one' }, { required: true, class: 'dropdown_item input_item' }) %>
              </div>
              <div class="col-md-3">
                <td><label class="survey_label">Số điện thoại</label></td>
              </div>
              <div class="col-md-9">
                <%= text_field_tag "feedback[phone_number]", nil, class: "input_item", placeholder: "Your phone number", required: true, type: "number" %>
              </div>
              <%= hidden_field_tag "feedback[product_id]", @product.id %>
              <% @questions.each do |question| %>
                <div class="col-md-12">
                  <%= text_field_tag "feedback[answers[]answer]", nil, class: "input_item", placeholder: question.question, required: true %>
                  <%= hidden_field_tag "feedback[answers[]question_id]", question.id %>
                </div>
              <% end %>
              <div class="col-md-12">
                <button id="contact_btn" type="submit" class="contact_button trans_200" value="Submit">submit</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
