
<div class="site">
  <%= render 'layouts/header' %>
  
  <div class="site-content">
    <div class="section-cmn section-breadcrumb">
      <div class="max-width">
        <div class="title">Sản phẩm</div>
        <ol class="list">
          <li><%= link_to 'Trang chủ', root_path %></li>
          <li><a href="#">Sản phẩm</a></li>
          <li><%= @product.name %></a></li>
        </ol>
      </div>
    </div><!-- end .section-breadcrumb -->

    <div class="section-main-content">
      <div class="max-width">
        <ul class="list-category">
          <% @product.products.each do |child_product| %>
            <li>
              <div class="cat-img"><%= image_tag(child_product.thumbnail, alt: 'Image') if child_product.thumbnail? %></div>
              <div class="cat-desc">
                <div class="title"><%= child_product.name %></div>
                <p class="desc"><%= strip_tags(child_product.description.truncate_words(50)) %></p>
                <p class="view"><%= link_to "Xem thêm >>", product_path(child_product) %></p>
              </div>
            </li>
          <% end %>

        </ul>
      </div>
    </div><!-- end .section-main-content -->
  </div><!-- end .site-content -->

  <%= render 'layouts/footer' %>

</div><!-- end #site -->