<div class="site">
  <%= render 'layouts/header' %>
  <% parent_product = @product.from_products.first %>
  
  <div class="site-content">
    <div class="section-cmn section-breadcrumb">
      <div class="max-width">
        <div class="title">Cuộc sống tươi đẹp</div>
        <ol class="list">
          <li><%= link_to 'Trang chủ', root_path %></li>
          <li><a href="#">Sản phẩm</a></li>
          <li><a href="<%= category_path(parent_product) %>"><%= parent_product.name %></a></li>
          <li><%= @product.name %></li>
        </ol>
      </div>
    </div><!-- end .section-breadcrumb -->

    <div class="section-main-content">
      <div class="max-width">
        <%= render 'layouts/side_bar' %>
        <div class="content">
          <div class="post">
            <h3 class="title" id="sec_1"><%= @product.sec_1_title %></h3>
            <%= @product.sec_1_content.html_safe %>
          </div>
          <div class="post">
            <h3 class="title" id="sec_2"><%= @product.sec_2_title %></h3>
            <%= @product.sec_2_content.html_safe %>
          </div>
          <div class="post">
            <h3 class="title" id="sec_3"><%= @product.sec_3_title %></h3>
            <%= @product.sec_3_content.html_safe %>
          </div>
        </div>
      </div>
    </div><!-- end .section-main-content -->
  </div><!-- end .site-content -->
  <%= render 'layouts/footer' %>

</div><!-- end #site -->
