<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--     <div class="navbar-brand">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    <%= nav_link 'CMS APP', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <%= nav_link 'Users', users_path, {class: 'nav-link'} %>
        <%= nav_link 'Posts', admin_posts_path, {class: 'nav-link'} %>
        <%= nav_link 'Question', admin_questions_path, {class: 'nav-link'} %>
        <%= nav_link 'Feedbacks', admin_feedbacks_path, {class: 'nav-link'} %>
        <%= nav_link 'Products', admin_products_path, {class: 'nav-link'} %>
        <%= nav_link 'FAQ', admin_faqs_path, {class: 'nav-link'} %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li><a class='h3'><%=current_user.name%></a></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
</nav>
