<div class="site-banner">
  <div class="max-width">
    <%= form_tag survey_index_path, class: "frm-register" do %>
      <legend class="title">Nhận tư vấn gói bảo hiểm</legend>
      <p class="field-input">
        <%= text_field_tag "feedback[full_name]", nil, class: "input-txt", placeholder: "Họ và tên", required: true %>
      </p>
      <p class="field-input">
        <%= text_field_tag "feedback[phone_number]", nil, class: "input-txt", placeholder: "Số điện thoại", required: true, type: "number" %>
      </p>
      <p class="field-input">
        Giới tính
        <label class="lbl"><input type="radio" name="gender" value="male"> Nam</label>
        <label class="lbl"><input type="radio" name="gender" value="female" checked> Nữ</label>
      </p>
      <p class="field-input">
        <select class="input-select" id="product_id" name="feedback[product_id]">
          <option>Chọn gói bảo hiểm bạn quan tâm</option>
          <%= product_options %>
        </select>
      </p>
      <p><input type="submit" value="Đăng ký tư vấn" class="input-submit"></p>
    <% end %>
  </div>
</div><!-- end .site-banner -->
