    <footer class="site-footer">
      <div class="max-width">
        <div class="logo">
          <p><%= image_tag('logo-footer.png', alt: 'Image')%></p>
          <p><a href="#frm-survey" class="go-form">Đăng ký tư vấn</a></p>
        </div>
        <div class="section-fb">
          <!-- Your like button code -->
          <div class="fb-like" data-href="https://www.facebook.com/WeCare.BaoHiemUyTin/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
    </footer><!-- end .site-footer -->