<header class="site-header">
  <div class="max-width">
    <h1 class="site-logo">
      <a href="<%= root_path %>">
        <%= image_tag('logo.png', alt: 'Logo')%>
      </a>
    </h1>
    <div class="site-menu">
      <button class="btn-toggle-menu">Menu</button>
      <nav class="nav">
        <ul>
          <li class="<%= current_class?(root_path) %>"><a href="<%= root_path %>">Trang chủ</a></li>
          <li class="drop"><a href="#">Sản phẩm</a>
            <ul class="dropdown">
              <% @products.each do |product| %>
                <li class="<%= current_class?(category_path(product)) %>"><a href="<%= category_path(product) %>"><%= product.name %></a>
                </li>
              <% end %>
            </ul>
          </li>
          <li><a href="<%= faqs_path %>">Hỏi đáp</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header><!-- end .site-header -->