<div class="sidebar">
  <% if defined? @product %>
    <div class="box box-cat-submenu">
      <ul class="list">
        <li><a href="#" class="active">Tổng quan về gói bảo hiểm</a></li>
        <li><a href="#sec_2">Quyền lợi</a></li>
        <li><a href="#sec_3">Điều khoản</a></li>
        <li><a href="#frm-survey">Đăng ký</a></li>
      </ul>
    </div>
  <% end %>

  <div class="box box-cat">
    <h3 class="title">Các gói bảo hiểm khác</h3>
    <ul class="list">
      <% @products.each do |product| %>
        <li class="<%= current_class?(category_path(product)) %>"><a href="<%= category_path(product) %>"><%= product.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
    <%= form_tag survey_index_path, class: "frm-register", id: 'frm-survey' do %>
        <p class="field-input"><%= text_field_tag "feedback[full_name]", nil, class: "input-txt", placeholder: "Họ và tên", required: true %></p>
        <p class="field-input"><%= text_field_tag "feedback[phone_number]", nil, class: "input-txt", placeholder: "Số điện thoại", required: true, type: "number" %></p>
        <p class="field-input">
          Giới tính
          <label class="lbl"><input type="radio" name="gender" value="male"> Nam</label>
          <label class="lbl"><input type="radio" name="gender" value="female" checked> Nữ</label>
        </p>
          <p class="field-input">
            <select class="input-select" id="product_id" name="feedback[product_id]">
              <option>Chọn gói bảo hiểm bạn quan tâm</option>
              <%= product_options %>
            </select>
          </p>
        <p><input type="submit" value="Đăng ký tư vấn" class="input-submit"></p>
      <% end %>
</div>