<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wecare</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,600,700">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
  <meta name="type"          content="website" />
  <meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
  <% if defined? @product %>
    <meta name="title"         content="<%= @product.title_tag %>" />
    <meta name="description"   content="<%= @product.meta_desc %>" />
    <meta name='keywords'      content="<%= @product.meta_keys %>" />
    <meta name="robots"        content="index,follow" />
  <% else %>
    <%= default_meta_title %>
    <%= default_meta_des %>
    <%= default_meta_keys %>
  <% end %>
</head>

  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=1620338421551539&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%= render 'layouts/notification' %>
    <%= yield %>
  </body>
</html>
